@model IEnumerable<Hotel>

@{

    ViewData["Title"] = "Hotes disponibles";
}


<section class="container">

    <h5 class="mb-3">Listado de Hoteles</h5>

    <table class="table table-sm">

            <a asp-action="Crear" asp-controller="Hoteles" class="btn bi bi-file-plus btn-danger col-md-2 col-xs-6">Adicionar</a>            

        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Responsable</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Servicio</th>
            <th scope="col">Accion</th>        
        </tr>
    </thead>
    <tbody id="reordenable">

        @foreach (var hotel in Model)
        {


            <tr>
                <td>@hotel.Nombre</td>
                <td>@hotel.Direccion</td>
                <td>@hotel.Telefono</td>
                <td>@hotel.Responsable</td>
                <td>@hotel.Calificacion</td>
                <td>@hotel.IdServicio</td>
                <td>
                    <input type="hidden" value="@hotel.Id" class="ids"/>
                        <a class="btn bi bi-folder2-open" asp-controller="Habitacion" asp-action="Index" asp-route-idHotel="@hotel.Id"></a>
                        <a class="btn bi bi-pencil-square" asp-action="Editar" asp-route-id="@hotel.Id"></a>
                    <a class="btn bi bi-trash3-fill" asp-action="Eliminar" asp-route-id="@hotel.Id"></a>
                </td>
            </tr>
        }

    </tbody>

    </table>
</section>